/* html {
    font-family: 'Helvetica Neue', sans-serif;
} */

.weather-card {
    float: left;
}

.icon {
    display: inline;
}

.temperature {
    font-size: 2.5rem;
    display: inline;
}

.stats {
    color: #808080;
}

#error-badge {
    height: 80px;
    width: 100vw;
    background-color: rgba(255, 0, 0, 0.45);
    visibility: hidden;
    text-align: center;
    position: fixed;
    left: 0;
    z-index: 2;
    top: 40vh;
    color: white;
}

.visible {
    visibility: visible;
}